<h1>Listing excuses</h1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @excuses.each do |excuse| %>
      <tr>
        <td><%= excuse.desc %></td>
        <td><%= link_to 'Show', excuse %></td>
        <td><%= link_to 'Edit', edit_excuse_path(excuse) %></td>
        <td><%= link_to 'Destroy', excuse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excuse', new_excuse_path %>
